<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <h6 class="card-subtitle">{{subtitle}}</h6>
        <form class="form-material m-t-40 row">
          <div class="form-group col-md-4 m-t-20">
            <label>Email</label>
            <input [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}" type="text" class="form-control form-control-line">
          </div>

          <div class="form-group col-md-4 m-t-20">
            <label>Nombre y Apellido</label>
            <input [(ngModel)]="usuario.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control">
          </div>
          <div class="form-group col-md-4 m-t-20">
            <label>Saldo</label>
            <input [(ngModel)]="usuario.saldo" [ngModelOptions]="{standalone: true}" type="number" class="form-control form-control-line">
          </div>
          <div class="form-group col-md-4 m-t-20">
            <label>Contraseña</label>
            <input [(ngModel)]="usuario.password" [ngModelOptions]="{standalone: true}" type="text" class="form-control">
          </div>
          <div class="form-group col-md-4 m-t-20">
            <label>Confirmar contraseña</label>
            <input [(ngModel)]="usuario.password_confirmation" [ngModelOptions]="{standalone: true}" type="text" class="form-control">
          </div>
          <div class="col-md-4 m-t-20" *ngIf="nuevo == 'true'">
            <h4>Rol</h4>
            <select [(ngModel)]="usuario.role" id="periodicidad" [ngModelOptions]="{standalone: true}" class="form-control" data-style="form-control btn-secondary" tabindex="-98">
              <option value = "admin">Administrador</option>
              <option value = "empleado">Empleado</option>
              <option value = "empresa">Empresa</option>
              <option value = "particular">Particular</option>
            </select>
          </div>
        </form>
        <br>
        <div class="row">
          <div class="col-12">
            <button class="btn waves-effect waves-light btn-rounded btn-block btn-success" (click)="guardarUsuario()">Guardar usuario</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
